.navbar {
    background-color: #FC8621;
    border-bottom: 3px solid black;
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    min-width: 300px;    
    z-index: 1;
    font-family: "Personal Chicago";
}

.navbar-image {
    max-width: 40px;
    padding-right: 10px;
}

.navbar-item {
    padding-left: 20px;
    padding-right: 30px;
}