.home-page-container h1, h2, p {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 129, 204);
}

h1, h2, p {
    font-family: "Personal Chicago"                                             
}

.text-personal {
    font-family: "Personal Chicago"                                             
}

.nft-owned-list p {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 400px) {
    .nft-owned-list .hide-on-small-screen {
        font-size: 20px;
        text-align: left;
        display: none;
    }   
}