.home-page-container h1, h2, p {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    top: 1em;
}

h1, h2, p {
    font-family: "Personal Chicago"                                             
}

#title-game-page {
    font-size: 2em;
}

.text-in-slider {
    padding: 1em;
    font-size: 150%;
    background-color: #FF7800;
    border: 3px solid black;
    border-radius: 20px;
    min-height: 270px;
    max-width: 90%;
}

.text-personal {
    font-family: "Personal Chicago"                                             
}

.nft-owned-list p {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 400px) {
    .nft-owned-list .hide-on-small-screen {
        font-size: 20px;
        text-align: left;
        display: none;
    }   
}